*{
    margin: 0px;
    padding: 0px;
}
/* .home{
width: 1440px;
height: 4889px;
top: -450px;
left: 907px;
gap: 0px;
opacity: 0px;
background-color:#FFFFFF;
} */
.all{
    position: relative;
}
header{
    display: flex;
    width: 100%;
    position: absolute;
}

.ipdc-logo img{
    width: 109px;
    height: 53px;
    margin: 5px 30px 5px 30px;
}
.head-list{
    Width:Fixed (823px)px;
    height: Hug (24px)px;
    align-self: center;
    margin-left: 100px;
    margin: 0px 30px 0px 30px;
}
.head-list a{
    font-family: Metropolis;
font-size: 20px;
font-weight: 600;
line-height: 20px;
word-spacing: 20px;
text-decoration: none;
}
.search {
    width: 30px;
    height: 40px;
    border-radius: 100%;
    align-self: center;
    margin-left: 60px;
}
.head-button{
    width: 100px;
height: 40px;
align-self: center;
margin-left: 60px;
padding: 8px 20px 8px 20px;
color: white;
background-color: #ED017F;
border: none;
border-radius: 5px;
}
.intro-page {
    display: flex;
  }
  
  .intro-left {
    padding: 40px;
  }
  
  .intro-left .intro-con {
    padding: 20px;
    margin-top: 150px
  }
  
  .intro-con h1 {
    width: 453px;
height: 136px;
font-family: Metropolis;
font-size: 63px;
font-weight: 900;
line-height: 68px;
text-align: left;

  }
  
  .intro-con p {
    width: 380px;
    height: 44px;
    margin-top: 10px;
    font-family: Metropolis;
font-size: 16px;
font-weight: 400;
line-height: 22px;
text-align: left;
  }
  
  .intro-btn {
    display: flex;
    gap: 20px;
    margin-top: 20px;

  }
  
  .intro-btn .btn1, .intro-btn .btn2 {
    background-color: #ed017f;
    color: white;
    border: none;
    width: 160px;
    height: 46px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  .intro-btn .btn2 {
    background-color: transparent;
    border: 2px solid #ed017f;
    color: #ed017f;
  }
  
  .intro-btn .btn1:hover, .intro-btn .btn2:hover {
    background-color: #c90064; 
  }
  
  .intro-icons {
    display: flex;
    margin-top: 100px;
background-color: #fff;
  }
  
  .intro-icons .call-button {
    padding: 5px;
    margin-left: 15px;
  }
  
  .intro-icons a {
    text-decoration: none;
  }
  
  .intro-icons i {
    color: #ed017f;
    font-size: 1.5rem; 
    transition: color 0.3s ease; 
  }
  
  .intro-icons i:hover {
    color: #c90064; 
  }
  
  .intro-icons img {
    width: 40px; 
    height: 40px;
    margin: 0 10px;
    transition: transform 0.3s ease; 
  }
  
  .intro-icons img:hover {
    transform: scale(1.1); 
  }
  
  .pink {
    width: auto;
    height: 682px;
    background-color: #ffeaf5;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
  }
  .family{
  position: relative;
  }
  .family-pic {
    width: 90%; 
    max-width: 100%; 
    height: auto; 
  }
   .box1 ,.box2{
        height: 71px;
gap: 19px;
border-radius: 55px;
align-items: center;
justify-content: center;
 background-color:#FFFFFF;
display: flex;
     }
    .box1 {
        width: 191.65px;
        position: absolute;
        top: 10%;
        left: -71px;
    }
    .box2 {
      width: 191.65px;
      position: absolute;
      top: 30%;
      left: 500px;
  }
   .box1 i{
    color: #ED017F;
   }
   .box1,.box2 h4{
  font-family: Metropolis;
font-size: 18px;
font-weight: 600;
line-height: 22px;
   }
   .box2{
    width: 204.65px;
   }
   .box2 i{
    color: #ED017F;
   }
.experience{
   height:  700px;
   position: relative;
}
.exp-main{
position: absolute;
top: 8%;
}
.exp-content h1{
    font-family: Metropolis;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    text-align: center; 
    margin-top: 30px; 
}
.exp-content p{
    width: 660px;
    height: 44px;
    font-family: Metropolis;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    margin-left: 320px;
    margin-top: 25px;
}
.exp-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 70px 100px 50px 120px;
    text-align: center;
  }
  .exp-cards .card {
    width: 25%; 
    box-sizing: border-box; 
    padding: 15px;
    text-align: center; 
    width: Fixed (259px)px;
height: Hug (231px)px;
gap: 0px;
border-radius: 8px 0px 0px 0px;
  }
.card{
height: 120;
padding: 24px 0px 0px 0px;
gap: 18px;
border-radius: 8px 0px 0px 0px;
opacity: 0px;
flex-flow: column;
}

.card img{
  border-radius: 100%;
    width: 20px;
height: 20px;
float: left;

}
.card h1{
    font-family: Metropolis;
font-size: 22px;
font-weight: 700;
line-height: 22px;
text-align: left;
margin-top: 40px;
}
.card p{
    font-family: Metropolis;
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: left;
width: 160px;
height: 96px;
margin-top: 5px;
}
.partners{
 text-align: center;
 padding-top: 50px;
height: 300px;
position: relative;
background-color: #FCE0EF33;
}
.part-main{
position: absolute;
top: 15%;
left: 15%;
}
.partners h2{
    font-family: Metropolis;
    font-size: 23px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 2.0999999046325684px;    
}
.par-logos{
 height: 200px;
margin-top: 20px;
}
.logos{
    display: flex;
    width: fit-content;
align-items: center;
margin-top: 20px;
padding: 10px 0px 10px 200px;
}
.logo1 img{
    width: 193.32px;
    height: 110.28px;

}
.logo2 img{
    width: 168.7px;
height: 88.29px;
margin-left: 35px;

}
.logo3 img{
    width: 186.79px;
height: 106.55px;
margin-right: 35px;
}
.logo4 img{
    width: 189.46px;
height: 108.08px;
margin-right: 50px;
}
.circles{
    width: fit-content;
   height: 20px;
  margin: 20px 10px 0px 500px;
  
}
.circle,
 .circle1{
 border-radius: 50%;
 float: left;
}
.circle{
    width: 13px;
height: 13px;
margin: 4px;
background-color: #F467B2;
}
.circle1{
    width: 8px;
height: 8px;
margin: 6px 5px 5px  10px; 
background-color: #CCCCCC;
}
.glance{
    display: flex;
height: 610px;

}
 .glance-photo img {
    width: 618px;
height: 610px;
}

.glance-cont {
 margin: 150px 200px 100px 100px;
}
.glance-cont h1{
    font-family: Metropolis;
font-size: 32px;
font-weight: 700;
line-height: 38px;

}
.glance-cont p{
    font-family: Metropolis;
font-size: 16px;
font-weight: 400;
line-height: 29px;
margin-top: 10px;
}
.glance-cont .more{
 margin: 35px 0px 0px 5px;
 width: fit-content;
}
.glance-cont .more a{
    text-decoration: none;
    color: #ED017F;
    font-size: 20px;
}
.services{
    background-color: #FCE0EF33;
height: 800px;
position: relative;
}
.ser-main{
    position: absolute;
    top: 15%;
}
.ser-cont{
   text-align: center; 
}
.ser-cont h2{
    font-family: Metropolis;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    
 }
 .ser-cont p{
font-family: Metropolis;
font-size: 16px;
font-weight: 400;
line-height: 22px;
 }
 .ser-imgs{
    width: 90%;
    margin: 70px 100px 100px 90px;
 }
 .ser-cards{
    width: 254px;
height: 457px;
border-radius: 9px 0px 0px 0px;
float: left;
margin-left: 30px;
 }
 
 .ser-cards img{
    width: 254px;
height: 365px;
border-radius: 5px;
 }
 .arrow{
    display: flex;
 }
 .arrow h6{
    font-family: Metropolis;
font-size: 21px;
font-weight: 600;
line-height: 30px;
letter-spacing: 1px;
 }
 .arrow img{
 width: 30px;
height: 30px;
border-radius: 100%;
margin-top: 30px;
 }
.results{
padding-top: 60px;
height: 500px;
position: relative;
}
.res-main{
    position: absolute;
     top: 20%; 
    left: 5%; 
    height: fit-content;
}
 .res-content h1{
    font-family: Metropolis;
    font-size: 30px;
    font-weight: 700;
    line-height: 43px;
    text-align: center;
     
}
.res-content p{
    font-family: Metropolis;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 10px;
    text-align: center;
    color: #999999;
}
.res-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 70px 90px 50px 70px;
    width: 1000px;
    height: 257px;
  }
  .res-cards .cards {
    width: 25%; 
    box-sizing: border-box; 
    
  }
.cards{
    width:190px;
    height: 90px;
    padding-left: 70px;
}
.cards h1{
    font-family: Metropolis;
    font-size: 30px;
    font-weight: 700;
    line-height: 43px;    
}
.cards p{
    font-family: Metropolis;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 1px;
width: 160px;
height: 70px;
}
 .newsletter{
height: 300px;
position: relative;
background-color: #FEF9FC;
 }
 .new-main{
    align-self: center;
    position: absolute;
    top: 15%;
    left: 35%;
    padding: 10px;
 }
 .news-cont h1{
font-family: Metropolis;
font-size: 36px;
font-weight: 700;
line-height: 43px;
 }
 .news-cont p{
font-family: Metropolis;
font-size: 16px;
font-weight: 400;
line-height: 22px;
color: #999999;
 }
 .subscribe{
    margin-top: 20px;
 }
 .subscribe input{
    width: Fixed (343px)px;
height: Hug (46px)px;
padding: 12px 50px 12px 15px;
 }
 .subscribe button{
    width: Hug (132px)px;
height: Hug (46px)px;
padding: 13px 24px 13px 24px;
margin-left: 10px;
background-color: #ED017F;
border: none;
color: white;
border-radius: 3px;
 }
 .footer{
     position: relative;
     height: 250px;
   }
   .foo-con{
     display: flex;
     width: 891px;
     height: 192px;
     position: absolute;
     top: 25%;
     left: 15%;
     margin: -25px 0 0 -25px;
     padding-left: 70px;
   }
   .company{
     width: 180px;
     height: 192px;
       }
   .company h1{
   font-family: Metropolis;
   font-size: 16px;
   font-weight: 600;
   line-height: 22px;
   text-align: left;
   margin-top: 5px;
   }
   .company p{
     font-family: Metropolis;
     font-size: 14px;
     font-weight: 400;
     line-height: 22px;
     text-align: left;
     margin-top: 10px;
   }
   .comp-icons{
     width: Hug (144px)px;
   height: Hug (24px)px;
   float: left;
   margin-top: 10px;
   }
   .comp-icons img{
     width: 24px;
   height: 24px;
   padding: 4.26px 0.99px 4.27px 0.99px;
   }
   .comp-details{
     width: 140px;
   height: 192px;
   margin-left: 80px;
   }
   .comp-details h1{
     font-family: Metropolis;
     font-size: 18px;
     font-weight: 600;
     line-height: 22px;
     text-align: left;
     margin-top: 5px;
       }
   .comp-details ul{
     list-style-type: none;
    }
    .ul-3{
     width: 150px;
    height: 192px;
    }
    .comp-details li{
      color: #676767;
    font-family: Metropolis;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin-top: 5px;
    }
    .call{
     height: fit-content;
     width: fit-content;
     margin-left: 100px;
    }
   .call-button {
   border-radius: 15px 0px 0px 0px;
   text-decoration: none;
   color: black;
   display: flex;
   }
   .call-button i {
     color: #ED017F;
   }

   
@media screen and (max-width:340px) {
    .head-list, .head-button{
        display: none;
    }

}
